# 2. Importing Files and Packages
Basic Python is not where the true power of the language lies. The true power lies in the huge community around the language. 
There are thousands of packages in Python that build on the base language and make it possible to do many other things, like data processing, editing movies, building websites, or making plots. Here's a [list](https://wiki.python.org/moin/UsefulModules) of some of the most commonly used Python packages.
Chances are, for nearly anything you want to do, a package exists in Python to do it. 

We will also learn here how to navigate around files in our computer's file system to access other files that we want to use.

## Paths
Your computer's directory is based on paths, that separate files into different directories and folders. 

Separators
- Windows uses `\` 
- Unix uses `/` 

We can see where we are in our file system easily using the "os" package in Python.

In [2]:
import os
os.getcwd()

'E:\\Project\\dsr32\\Intro_to_python'

We can move around between the paths using `cd` command. The notation `../` to go back one level of the directory, then filling in the rest with what we want to have.

cd ../

## Importing packages

We can import packages in various ways:

In [4]:
import numpy

from numpy import array

import numpy as np
np.array

## Importing files

To import files, we combine what we've learned about paths with what we've learned about packages. 
How we import files depends on the type of file we want to import. 
- Text files:
    - We can easily read and write text files using the tools built in to basic python
- CSVs:
    - for CSVs, we need to use an additional package called [Pandas](https://pandas.pydata.org). Pandas is the main data processing and analysis package for python.

In [10]:
cd Intro_to_python

E:\Project\dsr32\Intro_to_python

In [11]:
ls

 Volume in drive E is DS
 Volume Serial Number is F04F-804B

 Directory of E:\Project\dsr32\Intro_to_python

09/27/2022  02:37 PM    <DIR>          .
09/27/2022  02:37 PM    <DIR>          ..
09/27/2022  02:25 PM    <DIR>          .ipynb_checkpoints
09/27/2022  02:00 PM            56,397 1. Introduction to Python.ipynb
09/27/2022  02:25 PM             7,930 1a. pep8.ipynb
09/27/2022  02:37 PM             5,778 2. Importing Files & Packages.ipynb
09/27/2022  02:37 PM    <DIR>          text_files
               3 File(s)         70,105 bytes
               4 Dir(s)  427,599,486,976 bytes free

In [19]:
pwd

'E:\\Project\\dsr32\\Intro_to_python'

In [17]:
poem = open('./text_files/theday_poem.txt', mode='r', encoding='UTF-8')

In [18]:
poem

### Loading a CSV
CSVs can be easily loaded in a tabular format called a DataFrame. This is a 2-D datatype with columns and rows, very similar to an excel file.
We use the Pandas package for this.
CSVs can be loaded from online, or from a local file using the path location.

In [22]:
# import pandas
import pandas as pd

# loading a CSV that's hosted on a website:
shoe_size_data = pd.read_csv("https://raw.githubusercontent.com/samsonafo/shoe-size-predict/master/new_shoe_size.csv", low_memory=False)

# loading a CSV from file
energy_data = pd.read_csv("./data/energy/PJM_Load_hourly.csv")

In [23]:
shoe_size_data.head()

   height  sex_no  shoe_size            date_time
0     127       1         33  2020-05-25 08:28:46
1     175       1         44  2020-05-07 22:33:13
2     182       1         42  2020-05-04 09:29:52
3     165       2         41  2020-04-29 22:26:47
4     173       2         41  2020-04-27 22:31:50

In [24]:
energy_data.head()

              Datetime  PJM_Load_MW
0  1998-12-31 01:00:00      29309.0
1  1998-12-31 02:00:00      28236.0
2  1998-12-31 03:00:00      27692.0
3  1998-12-31 04:00:00      27596.0
4  1998-12-31 05:00:00      27888.0