# Functions
Remember from our first chapter...
## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with. 

## Why do we use functions?
Functions allow us to:
- reuse code - a bad pattern in programming is to duplicate code
- test code
- make code readable
- control scope

**Functional decomposition** is a key skill of a programmer. Functional decomposition means figuring out which pieces of code fit together in a function. Generally, a good rule of thumb is to try to make each function do just one thing but do it well. Functions shouldn't be very long- a good rule of thumb is not more than 20 lines. 

## Scope

A local scope is made during the function call, which disapears after the function ends.

In [13]:
#global scope
y = 5

#local scope
def simple_func():
    z = 10
    
    return z

In [32]:
z # since z is assined value inside the function

NameError: name 'z' is not defined

In [24]:
x = simple_func()
x

10

In [25]:
type(x)

int

## Writing Functions: Parameters

Inputs to functions

### Positional parameters

Based on the order they appear within the ().

In [27]:
def add_sum(a, b):
    c = a + b
    return c

In [28]:
add_sum(1, 2)

3

In [29]:
add_sum(a=1, b=2)

3

In [30]:
add_sum(1, b=2)

3

In [31]:
add_sum(a=1, 2)

SyntaxError: positional argument follows keyword argument (19688818.py, line 1)

In [33]:
add_sum(b=1, a=2)

3

### Keyword parameters

Based on the name
- have defaults
- use keyword args to enable functionality

In [34]:
def subtract_numbers(first=2, second=4):
    return first - second

The default values allow us to run the function without input:

In [35]:
subtract_numbers()

-2

In [36]:
subtract_numbers(second=6)

-4

We can use keyword args to enable functionality:

In [37]:
def subtract_numbers(first=2, second=4, explain=False):
    result = first - second
    if explain:
        print(f'{first} - {second} = {result}')
        
    return result

In [38]:
subtract_numbers()

-2

In [39]:
subtract_numbers(explain=True)

2 - 4 = -2

-2

## Exercise - Writing your own functions

1. Write a function where we can multiply 2 numbers together, and add any number to it.

In [90]:
def add_then_multiply(a=1, b=2, c=1):
    d = (a + b) * c
    
    return d

In [91]:
add_then_multiply(c=3)

9

2. Write a function to sum all the numbers in a list.

In [93]:
def function_two(numbers):
    total = 0
    for x in numbers:
        total += x
    return total

In [94]:
function_two([1,2])

3

In [52]:
sum([1,2])

3

3. Write a function to reverse a string. Sample String : "1234abcd"

In [54]:
string = "1234abcd"

In [55]:
string.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [95]:
def reverse_string(sample_string):
    """
    Function that takes string of characters and the same string reversed.
    Args:
        sample_string(str): string of characters to be reversed
    Returns:
        reversed_string(str): string of character, reversed.
    """
    #initializing empty string to fill
    reversed_string = ""
    
    for character in sample_string:
        #adding character forst, in front of the string,
        #so that the later chnater go in front
        reversed_string = character + reversed_string
                 
    return reversed_string

In [96]:
reverse_string(string)

'dcba4321'

In [97]:
#     new_list = []
    
#     for i in string:
#         new_list.append(i)
#     n = len(new_list)
    
#     for j in range(n):
#         reversed_string = reversed_string + new_list[n - (j+1)]

# new_list = []
# reversed_string = ''
# for i in string:
#     new_list.append(i)
#     print(i)
# print(new_list)
# n = len(new_list)
# for j in range(n):
#     # print(n - (j+1))
#     print(new_list[n - (j+1)])
#     reversed_string = reversed_string + new_list[n - (j+1)]
#     print(reversed_string)

In [99]:
reverse_string(string)

'dcba4321'

4. Write a function to multiply all the numbers in a list. Sample List : (8, 2, 3, -1, 7)

In [85]:
sample_list = [8, 2, 3, -1, 7]

In [87]:
def multily_all(list):
    a = 1
    for i in list:
        a *= i
        print(a)
    
    return a

In [88]:
multily_all(sample_list)

8
16
48
-48
-336

-336

5. Write a function to check whether a number is in a given range.

In [100]:
def check_range(number, range_start=0, range_end=10):
    return number in range(range_start, range_end)

In [102]:
check_range(11)

False

6. Write a function that takes a list and returns a new list with unique elements of the first list. Sample List : [1,2,3,3,3,3,4,5] Unique List : [1, 2, 3, 4, 5]

In [106]:
def unique_list(sample_list):
    return list(set(sample_list))

In [107]:
unique_list([11,22,2,22,3,3,3,33])

[33, 2, 3, 11, 22]

7. Write a function to convert list to list of dictionaries. 
    - Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]
    - Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [108]:
def list_to_dict(list1, list2):
    new_list = []
    for a, b in zip(list1, list2):
        new_dict = {'color': a, 'color_code': b}
        new_list.append(new_dict)
    
    return new_list

In [109]:
list1 = ["Black", "Red", "Maroon", "Yellow"]
list2 = ["#000000", "#FF0000", "#800000", "#FFFF00"]

list_to_dict(list1, list2)

[{'color': 'Black', 'color_code': '#000000'},
 {'color': 'Red', 'color_code': '#FF0000'},
 {'color': 'Maroon', 'color_code': '#800000'},
 {'color': 'Yellow', 'color_code': '#FFFF00'}]

8. Write a function to check if a given number is within 100 of 1000. Should return either True or False.

In [111]:
def function_eight(num_to_check, number=1000, range_=1000):
                   if num_to_check in range(number-range_, number*range_):
                       return True
                   else:
                       return False